<template>
  <div class="cart-list">
    <!-- Отслеживание по id продукта :key="item.id" -->
    <div v-for="item in spisok_dlya_rendera" :key="item.id">
      <div>{{item.title}} цена:{{item.price}} вес:{{item.amount}} кг</div>
    </div>
     <h4>Корзина</h4>
  </div>
</template>

<script>
export default {
  props: {
    cart: Array,
  },
  computed: {
      spisok_dlya_rendera() {
          return this.cart;//Удалена функция reverse() т.к. сортировка по title
      },
  },
};
</script>

<style>
/*Вывод данных при помощи flex - column-reverse*/
.cart-list {
  display: flex;
  flex-direction: column-reverse;
}
</style>
